server:
  port: 8082

spring:
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://${DB_HOST}:5432/${DB_NAME}
    username: root
    password: root

  jpa:
    hibernate:
      dialect: org.hibernate.dialect.PostgreSQLDialect
      ddl-auto: create
    show-sql: true

info:
  service:
    api:
      book: http://${INFO_SERVICE_HOST}:8081/api/v1/info/book/all
      loan: http://${INFO_SERVICE_HOST}:8081/api/v1/info/loan/all